*{padding: 0; margin:0; box-sizing: border-box; font-family: 'Josefin Sans', sans-serif;
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;}
.heading{
	font-size: .4rem;
	color:#fff;
	background-image: linear-gradient(to top, #fff 0%, #343a40 0%);
	display: flex;
	justify-content: space-between;
}
body{
	line-height: 1.5;
}

.logo{
	padding: .7rem 7rem;
	font-size: 30px;
	
}

.threelines div{
	height:2px;
	background-color: rgba(255,255,255,.5);
	margin: 7px 1em 0 0;
	border-radius: 25px;
	
}
.threelines{
	width: 63px;
	display: block;
	margin: .9em 12em 0 5em;
	border: 1px solid rgba(255,255,255,.1);
	text-align: center;
	padding: 6px 30px 15px 20px;
}
.one{
	width: 20px;
}

.two{
	width: 20px;
}

.three{
	width: 20px;
}
.headline{
	font-size: 4rem;
	font-weight: 10;
	text-align: center;
	margin-top: 9rem;
	margin-bottom: .5rem;

}
.mainpera{
	text-align:center;
	font-size: 25px;
	color: #6c757d;
}
.pera{
	
   	padding-right: 15px;
    	padding-left: 15px;
    	margin-right: auto;
    	margin-left: auto;
	height: 150px;
	width: 59%;
	align-items: center;
	word-spacing: 4px;

}

div p a{
	text-decoration: none;
	color:#fff;
	align-items: center;
	background-color: #007bff;
	padding: 15px;
	margin: 5px;
	border-radius: 0.25rem;
}

.button{
	text-align: center;
	padding: 25px 0 125px 0;
}

.btn2{
	background-color: #6c757d;
	border-color: #6c757d;
}

.image{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 403px;
	text-align: center;
	align-items: center;
	display: inline-block;
	/*border: 1px solid #000;*/
	box-shadow: 1px 2px 5px #000;
}
.p2{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	display: inline-block;
	background-color: #fff;
	border: 2px 2px 5px #000;
}
.main{
	
	background-color: #f8f9fa;
	padding: 0 0 50px 20px;
	margin-bottom: 5px;
	display: block;
}
img{
	width: 410px;
	height: 280px;
	margin: -3px;
	padding: 5px;
}
.vivew{
	margin: -3px;
	padding: 5px;
	display: inline-block;
	justify-content: space-between;
	
}
.justify{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	margin: -1px 0px 8px 0px;
	padding: 4px 8px;
}

.batn{
	font-size: 5px;
	margin: 0 15px 0 0;
	padding: 10px 10px;
	background-color: transparent;
	margin-top-left: 0;
}

.logo{
	text-decoration: none;
	color:#fff;
}

}
.time {
	font-size: 15px;
	padding: 0;
	margin: 0 15px 0 0;
}

.bot{
	text-align: center;
	margin: 40px 350px 40px 50px;
	width: 100%
	height: 20vh;
	align-items: center;
}
.padding{
	display: inline-block;
	padding: 50px 30px 10px 30px;
}

.a5{
	text-decoration: none;
	color: blue;
}

.fortop{
	text-decoration: none;
	width: 90px;
	color: blue;
}

.up{
	display: flex;
}
footer{
	display: flex;
}
